@{
    ViewBag.Title = "Trang chủ";
}

<p>Đây là trang chủ</p>

<p><strong>Roles in system</strong></p>
@foreach (var r in ViewBag.Roles)
{
    <p>@r.Id | @r.Name</p>
}

<p><strong>Users in system</strong></p>
@foreach (var u in ViewBag.Users)
{
    <p>@u.Username | @u.Email | @u.Role.Name</p>
}

<p><strong>Managers in system</strong></p>
@foreach (var u in ViewBag.RoleAsManager.Users)
{
    <p>@u.Username | @u.Email</p>
}

<p><strong>Categories and products</strong></p>
<ul>
@foreach (var cat in ViewBag.Categories)
{
    <li><b>@cat.Name</b>
        <ul>
            @foreach (var product in cat.Products)
            {
                <li>@product.Name</li>
            }
        </ul>
    </li>
}
</ul>
@for (var i = 0; i < 40; ++i)
{
    <br />
}

